body {
    font-size: 15pt;
    font-family: "Century Gothic",serif;
}

h1 {
    text-align: center;
}

.begin {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px; 
}

#buttons {
    width: 320px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

#start, #end, #showTime, #showScore {
    display: inline-block;
    font-family: "Century Gothic",serif;
}
#end {
    text-align: left;
}
#showTime, #showScore {
    float: right;
}

#time, #score {
    width: 50px;
}

.MOLE, .MOLES {
    margin-right: 2px;
    margin-left: 2px;
}

#game {
    width: 210px;
    margin-right:auto;
    margin-left: auto;
    margin-top:40px;
    marker-bottom:5px; 
    border-top:2px solid;
    border-bottom: 2px solid;
}

#start, #end {
    width: 190px;
}

#instructions {
    width:800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11pt;
}

.Content {
    white-space: pre-wrap;
}

